body {
  background-color: #67b;
}

a {
  cursor: pointer;
}

.directions {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
    padding-left: 2em;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* header */
#toprow-text {
  background-color: #ddb;
  text-align: right;
}
#toprow {
  height: 65px;
  line-height: 65px;
}

/* navbar and content */
#middlerow {
    display: table;
    background-color: white;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
    background-color: #67b;
}

/* navbar */
.left-navbar {
  background-color: #cdf;
  float: none;
  display: table-cell;
}
#white-spacer {
  height: 2px;
  background-color: white;
}
#blue-spacer-2 {
  min-height: 400px;
}

/* content */
.right-content {
    background-color: white;
    float: none;
    display: table-cell;
    padding-top: 20px;
    padding-left: 10px;
}
.mc-text {
  font-size: 0.8em;
}
.mc-image {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* footer */
#bottomrow-text {
  background-color: #ddb;
  text-align: center;
}
#bottomrow {
  height: 30px;
  line-height: 30px;
}

/* style for location tables */
th,td {
    border: none;
    border-collapse: collapse;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

/* style for pricing tables */
.pricing-table tr th, .pricing-table tr td {
    min-height: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 15px;
    text-align: left;
    min-width:100px;
}
.pricing-table {
  width: 100%
}
.pricing-table tr th {
  background-color: rgb(205, 217, 222);
  text-align: center;
}
.pricing-table h1 {
  font-size: 40;
}
.pricing-table h1 small {
  font-size: 14;
}
.pricing-table h2 {
  font-size: 24;
}
